header{
    text-align: center;
}
nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
section {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
}